body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
}

.button {
    background-color: #00C618;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    float: right;
    margin: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;

}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    background-color: white;
    padding: 40px;
    width: 400px;
    margin: 20px;
}

.article-but {
    text-decoration: none;
    background-color: #5EC4CD;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: flex;
    justify-content: center;
}
article p {
    text-align: center;
}
article h2 {
    text-align: center;
}

footer { 
    padding: 20px;
}

footer a {
    margin-right: 20px;
}

footer p {
    font-size: 24px;
    color: black;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #36bbce;
    padding: 15px;
}
